<h2>Highlighted Projects</h2>

<ul>
    <li>
    <strong>
        RAG with Domain-Specific Methods
        <a href="https://github.com/faozdev/rag-domain-methods"
        target="_blank"
        rel="noopener"
        style="font-size: 0.85em;">
        [GitHub]
        </a>
    </strong><br>
    Retrieval-Augmented Generation pipeline with domain-specific reasoning.
    </li>


  <li>
    <strong>Recommendation System
    <a href="https://github.com/faozdev/Information-Retrieval-and-Web-Search-Engines"
    target="_blank"
    rel="noopener"
    style="font-size: 0.85em;">
    [GitHub]
    </a>
    </strong><br>
    Using Amazon dataset to build a recommendation system with collaborative filtering and content-based filtering.
  </li>

  <li>
    <strong>2-DoF Robot Arm Optimal Control</strong><br>
    Minimum-time and natural motion planning.
  </li>
</ul>
